<%= form_with(model: progress) do |form| %>
  <% if progress.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(progress.errors.count, "error") %> prohibited this progress from being saved:</h2>

      <ul>
        <% progress.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description, size: '100%' %>
  </div>

  <div>
    <%= form.label :category, style: "display: block" %>
    <%= form.select :category, [['Maps','maps'], ['Models','models'], ['Audio','audio'],
                                ['Cutscenes','cutscenes'], ['Enemies','enemies'], ['Features','features'],
                                ['Models','models'], ['UI','ui']] %>
  </div>

  <div>
    <%= form.label :expected_days, style: "display: block" %>
    <%= form.number_field :expected_days, max: 99, value: 1 %>
  </div>

  <br/>

  <% unless @progress.new_record? %>
    <div>
      <h5><%= form.label :notes, style: "display: block" %></h5>
      <%= form.text_area :notes, size: '100x10' %>
    </div>
  <% end %>

  <br/><br/>

  <div>
    <%= form.submit 'Update', class: 'btn btn-primary' %>
  </div>
<% end %>
