<div id="<%= dom_id progress %>">
  <p>
    <strong>Category:</strong>
    <%= progress.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= progress.description %>
  </p>

  <p>
    <strong>Expected days:</strong>
    <%= progress.expected_days %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= progress.complete %>
  </p>

</div>
